.wrapper{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 auto;

}

.article{
    /* height: 200px; */
    /* background: #ea8a95; */
    width: 60%;
    margin-right: 40px; 
    padding: 20px;
}
     .section header  h3{
        font-size: 2rem;
        display: inline;
        margin: 0px 0px 0px 10px;
        cursor: pointer;

    } 
    .section header img{
        width: 30px;
        height: 30px;
        cursor: pointer;

    }
    .article .entry-content{
        display: flex;
        justify-content: space-around;
    }
    .article .entry-content img{
        margin-right: 20px;
        cursor: pointer;
        
    }
    .article .entry-content p{
        margin-top: 0px;
        font-size: 1.2rem;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        font-size: 15px;
    }
.aside{
    width: 25%;
    /* background: antiquewhite; */
    margin-right: 40px;
}
.aside ul{
    list-style-type: square;
    
}
.aside ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold; 
    font-size: 1.01rem;
} 
.tutorials{
    display: flex;
    flex-wrap: wrap;
}
.tutorials h4{
    width: 100%;
}
.some{
    width: 45%;
}
.some img{
    width: 45%;
}

/* article Modals styles */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); /*Modal Background opacity Opacity*/
    top: 0; 
}

.modalArticle{
    width: 65%;
     background: #ffffff;
     margin: 10px auto;
     padding: 10px;
     text-align: center;
}