
.footer{
    width: 100%;
    bottom: 0px;
    margin-top: 30px;
    background: #7387ad;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 5px 2px black;
    background: rgb(63,94,251);
    background: -moz-linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
    
}
 .menu, .services, .us{
     width: 33.333%;
 }
 .menu ul, .services ul{
   list-style-type: none;
  }
  .us .newsletter form{
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .us .newsletter form input{
    height: 30px;
    border-top-right-radius: 50px;
    border-top-left-radius:5px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 5px;
  }
  .us .newsletter h3{
    font-size: 2rem;
  }
  .us .newsletter form :first-child{
    width: 45%;
    
  }
  .menu ul li , .services ul li{
    margin: 10px;
     font-weight: bolder;
   }
    .menu ul li a, .services ul li a{
    text-decoration: none;
    color: black;
  }