
.footer{
    width: 100%;
    bottom: 0px;
    margin-top: 30px;
    background: grey;
    display: flex;
    padding: 20px;
}

.footer-container {
  width: 100%;
  bottom: 0px;
  margin-top: 30px;
  border-top-right-radius: 500px;
  background: #7387ad;
  display: flex;
  padding: 20px;
}
 .menu, .services, .us{
     width: 33.333%;
 }
 
 .menu ul, .services ul{
     list-style-type: none;
   }
 .menu ul li , .services ul li{
     margin: 10px;
     font-weight: bolder;
   }
    .menu ul li a, .services ul li a{
    text-decoration: none;
    color: black;

  }