
.footer{
    width: 100%;
    bottom: 0px;
    margin-top: 30px;
    background: #7387ad;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
 .menu, .services, .us{
     width: 33.333%;
 }
 .menu ul, .services ul{
   list-style-type: none;
  }
  .us .newsletter form{
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .us .newsletter form input{
    height: 30px;
  }
  .us .newsletter h3{
    font-size: 2rem;
  }
  .us .newsletter form :first-child{
    width: 45%;
    
  }
  .menu ul li , .services ul li{
    margin: 10px;
     font-weight: bolder;
   }
    .menu ul li a, .services ul li a{
    text-decoration: none;
    color: black;
  }