
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
	 ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}
/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}
/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
	 ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
	 ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}
/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}
/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}
/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
	 ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}
/* Forms
	 ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}
/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}
/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
	 ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}
/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}
/* Misc
	 ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}
/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.contsiner {
  width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* global styling */
/* body */
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  

  /* typography */

  html, body, h2, h3, h4, h5 {
    font-family: 'Noto Sans TC', sans-serif;
  }
  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5rem; 
  }
  h2 {
    font-size: 3.2rem;
    padding-bottom: 10px;
  } 
  h4 {
    font-size: 2.5rem;
    padding-bottom: 10px;
  }
  p {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 10px;
  }
  /* typography */


  img {
    max-width: 100%;
    height: auto;
  }
  
  body {
    max-width: 100%;
    margin: 0 auto;
  }
  .artify-container {
    margin: 0 auto;
    max-width: 1024px;
    max-height: 2000px;   /* this can be subject to change when the rest of the code is implemented */

  }
  /* noavigation mobile */
  /* dropdown navigation menu */
a {
    text-decoration: none;
    color: black;
    opacity:1;
    font-size: 1.5em;
    transition: 200ms;
  }
 a:hover {
    color: #f8c667;
  }
ul {
    padding: 0;
    list-style-type: none;
  }
  .container {
    Display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    /* position: fixed; */
  }
  .content {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 50px;
  }
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    right: 25px;
    z-index: 1;
    user-select: none;
  }
  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 200px;
    height: 400px;
    box-shadow: 0 0 16px #85888C;
    margin: -50px 0 0 -150px;
    padding: 20px;
    padding-top: 100px;
    background-color: white;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menu li {
    padding: 20px 0;
    transition-delay: 2s;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
/* dropdown navigation menu */

/*  { BREAKPOINT ---------------
    @media (min-width: 1024px){
        @media (min-width: 800px){
            @media (min-width: 500px){
tablet, mobile
} */

/* cta content container - parent */
.cta-wrap { /* cta img text container*/
    position: relative;
    display: inline-block;
    padding: 1%;
    border-top-right-radius: 5px;
    border-top-left-radius:50px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1);
    /* center the div */
    margin-left: 50%; /* From parent width */
    transform: translateX(-50%); /* use self width which can be unknown */
   -ms-transform: translateX(-50%); /* For IE9 */
 
}

.cta-wrap img {
  border-top-right-radius: 5px;
  border-top-left-radius:50px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius: 50px;
}
/* text container. child */
.cta-text {  
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 50%;
    top: 30%;
    width: 50%;
}
.img-text {
    font-size: 72pt;
    color: white;
}

/* mission statement container */
.mission-statement {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* text container */
.ms-text { 
    padding: 1%;
    background-color: white;
    color:  black;
}
/* button container */
.btn-container { 
    padding: 1%;
    margin: 1%;
}
.signup-btn {
    color: black;
    background-color: white;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 14pt;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);

}
.signup-btn:hover {
    color: #f8c667;
    background-color: white;
    border-color: #f8c667;
    box-shadow: none;
}

.features-container {
  width: 100%;
  height: 500px;
  max-width: 1000px;
  min-width: 200px;
  margin: 0 auto 20px;
  display: flex;
  flex-wrap: row nowrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  user-select: none;
  background-color: #7387ad;
  border-top-right-radius: 5px;
  border-top-left-radius:50px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0.8,0,0,0.2);
  background: transparent;
  padding: 10px;
  box-sizing: border-box;
}
.features-container .feature-list {
  display: flex;
  flex-wrap: row nowrap;
  align-content: center;
  align-items: stretch;
  justify-content: space-evenly;
}

.features-container .feature-list .feature {
  width: 20%;
  height: 90%;
  max-width: 300px;
  min-width: 100px;
  margin: 0 auto 20px;
  user-select: none;
  background-color: #7387ad;
  border-top-right-radius: 5px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0.8,0,0,0.2);
  background: transparent;
  padding: 10px;
  box-sizing: border-box;

}

.features-container .feature-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.features-container .feature-title h2 {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* placement divs - not required specs. just have it to see content on page*/
.carousel-container {
    width: 100%;
    height: 500px;
    max-width: 1000px;
    min-width: 200px;
    margin: 0 auto 40px;
    user-select: none;
    background-color: #7387ad;
    border-top-right-radius: 50px;
    border-top-left-radius:5px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0.8,0,0,0.2);
    background: transparent;
    padding: 10px;
    box-sizing: border-box;
}

/* placement divs */
/* .footer {
    width: 100%;
    height: 100px;
    background-color: #f28e8d;
} */





/* about us styling --------*/
.about-artify {
    display: inline-block;
    padding: 2%;
}


.about-wrap {    /* about us card layout */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
/* about-wrap tablet breakpoint */
@media (max-width: 800px) { 
    .about-wrap {
        width: 100%;
        
    } 
    
}
/* mobile breakpoint*/
@media (max-width: 500px) { 
    .about-wrap {
        flex-direction: column;
        
    } 
}
.card { /* to create card effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: 20%;
    background-color: white;
    margin: 1%;
  }
  @media (max-width: 800px) {
      .card {
          width: 75%;
      }
  }
  @media (max-width: 500px) {
    .card {
        width: 100%;
    }  
    
  }

/* shadow to give card effect. */
/* or overlay?? */
/* opacity: 0.4; for overlay*/
  .card:hover { 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
  /* a lil space for content -- add social media  */
  .container {
    padding: 20px 16px;
  }
  .container a:hover {
      opacity: 0.5;
  }