
body{
    margin: 0px;
}

footer{
    width: 100%;
    bottom: 0px;
    height: 300px;
    background: #7387ad;
    text-align: center;
    padding-top:10px ;
}
footer p{
    bottom: 0px;
    /* position: absolute; */
    margin: 0 auto;
}