body{
    font-size: 16px
}
/*  remove Blue Lines from input field on focus */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Modal Styles */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); /*Modal Background opacity Opacity*/
    top: 0; 
    /* opacity: .7; */
}
 .ulModal{
     width: 200px;
     display: flex;
    justify-content: space-evenly;
    }
    .ulModal li{
        /* removing the bullets from the li  */
        list-style-type: none;

    }
   .ulModal li a{
        text-decoration: none;
     }
    #close{
        font-size: 2.2rem;
        font-weight: bolder;
        cursor: pointer;
        top: 0;
        /* float: left; */
        position: absolute;
    }
    /* image */
    /* Form Div */
    .formDiv{
        width: 65%;
        height: 670px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        position: relative;
        background-color: #fefefe;
        margin: 0 auto;
        top: 10%;
        padding: 25px;
        border: 1px solid #888;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    /*  Image inside of the form div  */
    .formLogo{
        width: 48%;
    }
    .formDiv img{
        width: 100%;
    }
    
    .formDiv .loginForm{
        width: 48%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .loginForm form{
        width: 100%;
        display: flex;    
        flex-wrap: wrap;
        justify-content: center;
    } 
    input{
        height: 30px;
        width: 80%;
        margin-top: 20px;
        border-radius: 25px;  
        padding: 10px 5px 10px 20px;      
    }

    button{
        height: 54px;
        width: 85%;
        margin-top: 20px;
        border-radius: 25px;  
        font-size: 2rem;
        font-weight: 900;
    }
 
/* End of Modal Styles */
footer{
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
}