body{
    font-size: 16px
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: blanchedalmond;
    top: 0; 
    opacity: .7;
}
 .ulModal{
     width: 200px;
     display: flex;
    justify-content: space-evenly
    }
    .ulModal li{
        /* removing the bullets from the li  */
        list-style-type: none;

    }
   .ulModal li a{
        text-decoration: none;
     }
    #close{
        font-size: 1.2rem;
        font-weight: bolder;
        cursor: pointer;
    }

footer{
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
}