/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* global styling */
/* body */
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  

  /* typography */

  html, body, h2, h3, h4, h5 {
    font-family: 'Noto Sans TC', sans-serif;
  }

  h1 {
    font-family: 'Pacifico', cursive;
  }
  /* h2, h3, h4, h5 {
    font-family: 'Pacifico', cursive;
  } */
  
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 3.2rem;
    padding-bottom: 10px;
  }
  
  h4 {
    font-size: 2.5rem;
    padding-bottom: 10px;
  }
  
  p {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 10px;
  }
  /* typography */
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  body {
    max-width: 1024px;
  }
  .artify-container {
      max-width: 1024px;
      max-height: 2000px;
  }
/* navigation */
.header-content {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 30px; 
}
/*  { BREAKPOINT ---------------
    @media (min-width: 1024px){
        @media (min-width: 800px){
            @media (min-width: 500px){
tablet, mobile
} */
  
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation a {
    padding: 10px;
    text-decoration: none;
} /* navigation */


/* cta img text */
.cta-wrap { /* cta img text container*/
    position: relative;
    display: inline-block;
    background-color: red;
}
.cta-text {  /* p, h2 button positioning. */
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 70%;
    top: 5%;
    width: 25%;
}


/* about us styling */
/* .about-wrap {
    display: flex;

} */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 10px;
    margin: 1%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
